.input {
    width: 100%;
    height: 100px;
}

.input_form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.input_form label {
    margin: 5px 10px 5px 0;
}
.input_form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.input_form button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}
.input_form button:hover {
    background-color: royalblue;
}

.calculation_field {
    width: 500px;
    height: 500px;
    background-color: #7fffd4;
    margin: 0 auto;
}

.dividendTemp {
    margin-left: 170px;
}

.rechenweg {
    margin-left: 170px;
}
